<div class="form-group input-group" ng-class="{'has-error':(questionForm.option_{{$ctrl.index}}.$error.required) && questionForm.option_{{$ctrl.index}}.$touched}">
	<span class="input-group-addon">
    <input type="checkbox" ng-model="$ctrl.option.isCorrect" ng-disabled="$ctrl.isViewed()">
  </span>
  <input type="text" class="form-control" name="option_{{$ctrl.index}}" ng-model="$ctrl.option.description" ng-disabled="$ctrl.isViewed()" required>
	<span class="input-group-btn">		
		<button type="button" class="btn btn-danger btn-circle-sm" ng-click="$ctrl.delete()" ng-disabled="$ctrl.isViewed()">
			<i class="fa fa-times "></i>
		</button>
	</span>
	<div  class="alert alert-danger-c" ng-if="(questionForm.option_{{$ctrl.index}}.$error.required) && questionForm.option_{{$ctrl.index}}.$touched">
       Este campo es Obligatorio. 
    </div>
</div>