<div class="header" > 
  <h1 class="page-header">
    {{qCtrl.titulo}}<small> {{ qCtrl.descripcion }} </small> {{qCtrl.qId}}
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Preguntas</a></li>
  </ol>               
</div>
<div id="page-inner" >
<div class="messages"></div>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Preguntas</div>
			<div class="panel-body">
				<question-list questions="qCtrl.questions" 
							   on-set="qCtrl.setCurrentQuestion(index)" ng-if="!qCtrl.isEmpty()">
				</question-list>
				<div class="alert alert-warning" ng-if="qCtrl.isEmpty()">
					No hay preguntas :(
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">Edicion de preguntas</div>
			<div class="panel-body">
				<div class="row">
					
					<div class="col-md-4 ">
						<button class="btn btn-info btn-circle-sm" ng-click="qCtrl.createQuestion()"><i class="fa fa-plus "></i></button>
						<button class="btn btn-primary btn-circle-sm" ng-if="qCtrl.status == 'viewed' || qCtrl.status == 'editable' || qCtrl.status == 'preview'" ng-click="qCtrl.previewQuestion()"><i class="fa fa-eye" ></i></button>
						<button class="btn btn-success btn-circle-sm" ng-if="qCtrl.status =='viewed' || qCtrl.status == 'editable' || qCtrl.status == 'preview'" ng-click="qCtrl.editQuestion()"><i class="fa fa-edit "></i></button>
						<button class="btn btn-danger btn-circle-sm" ng-if="qCtrl.status =='viewed' || qCtrl.status == 'editable' || qCtrl.status == 'preview'" ng-click="qCtrl.deleteQuestion()"><i class="fa fa-trash-o "></i></button>
					</div>
					
					</div>
					<br>
					<div class="row" >
					<div class="col-md-12" ng-if="qCtrl.status != 'preview'">
						<question-form question="qCtrl.current"
									   status="qCtrl.status"
									   on-save="qCtrl.saveQuestion()"
									   on-update="qCtrl.updateQuestion()"
									   on-delete-op="qCtrl.deleteOption(pos)">
						</question-form>
					</div>
					<div class="col-md-12">
						<question-view question="qCtrl.current" status="qCtrl.status"></question-view>
					</div>
					</div>

	
					<!-- <div class="col-md-12">
						<form action="">
							<div class="form-group">
								<label for="title">Titulo</label>
								<input type="text" name="title" class="form-control">
							</div>
							<div class="form-group">
								<label for="description">Descripcion</label>
								<textarea type="text" name="description" class="form-control">
								</textarea>
							</div>
							<label for="">Respuestas</label>
							
							<div class="form-group">
								<div class="col-md-3">
									<input type="text" class="form-control" placeholder="min">
								</div>
								<div class="col-md-3">
									<input type="text" class="form-control" placeholder="max">
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Metrica">
								</div>
							</div>
							<br>
							<div class="form-group">
								<div class="col-md-3">
									<input type="text" class="form-control" placeholder="min">
								</div>
								<div class="col-md-3">
									<input type="text" class="form-control" placeholder="max">
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Metrica">
								</div>
							</div>

						</form>
					</div> -->

				
			</div>
		</div>
	</div>
</div>
</div>


<div class="modal fade" id="borrarPregunta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Tema</h4>
                  </div>
                  <div class="modal-body">
                 	<p>Esta seguro que desea eliminar esta pregunta.</p>
                 	<button type="button" ng-click="qCtrl.destroyQuestion()" class="btn btn-danger">Eliminar</button>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>