<form name="temaForm" novalidate>
  <div class="form-group" ng-class="{'has-error':(temaForm.name.$error.required || temaForm.name.$error.minlength) && temaForm.name.$touched}">
    <label for="name">Nombre</label>
    <input type="text" name="name" class="form-control" 
           ng-model="$ctrl.tema.name" value="{{$ctrl.tema.name}}" 
           required minlength="5" >
  </div>
  <div  class="alert alert-danger" ng-if="(temaForm.name.$error.required || temaForm.name.$error.minlength) && temaForm.name.$touched">
        El nombre debe tener al menos 5 caracteres
    </div>
  <div class="form-group">
    <label>Descripcion</label>
    <textarea class="form-control" name="description" rows="3" ng-model=" $ctrl.tema.description">{{$ctrl.tema.description}}
    </textarea>
  </div>
  
  <button ng-if="$ctrl.created" type="button" class="btn btn-success" ng-click="$ctrl.create()" ng-disabled="temaForm.$invalid">Crear
  </button>

  <button ng-if="!$ctrl.created" type="button" class="btn btn-success" ng-click="$ctrl.update()" ng-disabled="temaForm.$invalid" >Guardar Cambios
  </button>
</form>