<div ng-if="$ctrl.isPreview()">
	<hr style="margin:0; padding:0;border-width:2px;">
	<h3>Vista preliminar</h3>
	<p>
		Nivel de dificultad:
		<span class="label label-success" ng-if="$ctrl.question.level == 'easy' ">Facil</span>
		<span class="label label-warning" ng-if="$ctrl.question.level == 'middle' ">Medio</span>
		<span class="label label-danger" ng-if="$ctrl.question.level == 'hard' ">Dificil</span>
	</p>
	
	<p>{{$ctrl.question.description}}</p>
		
	<form action="" ng-if="$ctrl.question.type_question == 'multiple'">
		<div class="form-group" ng-repeat="option in $ctrl.question.options">
			<input type="checkbox" name="solution" ng-if="$ctrl.isMultiResp()"> 
			<input type="radio" name="solution" ng-if="!$ctrl.isMultiResp()"> 
			{{option.description}}
		</div>
	</form>
<div>